body {
    font-family:"Roboto",sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 1.2;
    background-color: #ffffff;
    color: #434455;
}
ul {
    list-style-type: none;
}
.link-logo {
    background-color: #ffffff;
    color: #2E2F42;
    text-decoration: none;
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
.logo-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
    font-family: "Raleway", sans-serif;

}
.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    letter-spacing: 0.02em;
}
.studio:hover {
    color:#4D5AE5;
    text-decoration: underline;
}
.studio:active {
    color: #404BBF;
    text-decoration: underline;
}
.portfolio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.portfolio:hover{
    color: #404BBF;
}
.contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contacts:hover {
    color: #404BBF;
}
.email {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.email:hover {
    color: #404BBF;
}
.phone:hover {
    color: #404BBF;
}
.banner {
    background-color: #2E2F42
}
.banner .maine-title {
    
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.banner .buttom {
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
}
.buttom:hover{
    background-color: #404BBF;
}
.title2 {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-team {
    background-color: #F4F4FD;
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;  
    color: #2E2F42;
}
.trade {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.prt-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.prt-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-sect{
    background-color:#2e2f42;
}
.footer-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
span .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
